{
  "eventConfiguration": "event.yml",
  "database": {
    "type": "postgresql",
    "hostname": "localhost",
    "port": 5432,
    "database": "rosettactf",
    "username": "rosettactf",
    "password": "hunter2",
    "useSsl": true,
    "forceTrust": true
  },
  "cache": {
    "type": "redis",
    "hostname": "localhost",
    "port": 6379,
    "index": 0,
    "password": "hunter2",
    "useSsl": true
  },
  "http": {
    "forwardHeaders": {
      "enable": true,
      "limit": 1,
      "networks": [ "10.0.0.0/8" ]
    },
    "listen": [
      {
        "address": "127.0.0.1",
        "port": 5000,
        "useSsl": true,
        "certificateFile": "/var/rosettactf/rosettactf.pfx",
        "certificatePasswordFile": "/var/rosettactf/rosettactf.pfx.pwd"
      }
    ]
  },
  "authentication": {
    "tokenKey": "hunter2",
    "tokenIssuer": "https://myrosettactfinstance.xyz/",
    "localLogin": true,
    "oauth": {
      "enable": true,
      "tokenKey": "hunter2",
      "providers": [
        {
          "type": "discord",
          "clientId": "123456789123456789",
          "clientSecret": "Client secret from Discord Developers page",
          "authorizedGuilds": [
            123456789123456789
          ]
        },
		{
		  "type": "custom",
		  "id": "ctftime",
		  "name": "CTFtime",
		  "colour": "#FF0000",
		  "clientId": "Your event ID",
		  "clientSecret": "Your client secret from event management interface",
		  "authorizeUrl": "https://oauth.ctftime.org/authorize",
		  "tokenUrl": "https://oauth.ctftime.org/token",
		  "refreshUrl": "Optional, if the provider supports refreshing.",
		  "revokeUrl": "Optional, if the provider supports revocations.",
		  "userUrl": "https://oauth.ctftime.org/user",
		  "scopes": [ "profile:read" ],
		  "hostnames": [ "oauth.ctftime.org", "ctftime.org" ],
		  "mappings": {
			"userId": "id",
			"username": "username"
		  }
		}
      ]
    }
  },
  "keyDerivation": {
    "parallelism": -1,
    "memory": -1,
    "iterations": -1
  }
}
