<h1>
    <i class="material-icons">&#xe5d8;</i>&nbsp;
    <i class="material-icons">&#xe5d8;</i>&nbsp;
    <i class="material-icons">&#xe5db;</i>&nbsp;
    <i class="material-icons">&#xe5db;</i>&nbsp;
    <i class="material-icons">&#xe5c4;</i>&nbsp;
    <i class="material-icons">&#xe5c8;</i>&nbsp;
    <i class="material-icons">&#xe5c4;</i>&nbsp;
    <i class="material-icons">&#xe5c8;</i>&nbsp;
    <i class="material-icons">&#xe238;</i>&nbsp;
    <i class="material-icons">&#xe167;</i>&nbsp;
</h1>

<p>
    Congratulations, you activated the secret challenge category!
</p>
